<div class="event">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title" value="{{title}}" />
  </div>
  <div class="field">
    <label>Start Date</label>
    <input type="text" name="start" value="{{start}}" />
  </div>
  <div class="field">
    <label>Start Date</label>
    <input type="text" name="end" value="{{end}}" />
  </div>
</div>
