<div class="volunteer">
  <div class="actions">
    <a data-action="edit">Edit</a> | <a data-action="delete">Delete</a>
  </div>
  <div class="name">{{lastName}}, {{firstName}}</div>
  <div class="email">{{email}}</div>
</div>
