<div class="volunteer">
  <div class="actions">
    <a href="#/volunteer/edit/{{id}}">Edit</a> | <a href="#/" data-action="delete">Delete</a>
  </div>
  <div class="name">{{lastName}}, {{firstName}}</div>
  <div class="email">{{email}}</div>
</div>
